{% load blog_extras %}
{% load static %}
    <div class="ticket_inside">
        {% include 'partials/heading_ticket_snippet.html' with ticket=review.ticket %}
        {% include 'partials/ticket_snippet.html' with ticket=review.ticket %}
    </div>
    <div class="buttons">
        {% if review.user == user %}
        <p><a href="{% url 'edit_review' review.id %}"><button type="submit"> Modifier</button></a>
        <a href="{% url 'delete_review' review.id %}"><button type="submit"> Supprimer</button></a></p>
        {% endif %}
    </div>
