{% load blog_extras %}
<div class="response_review">
    <sub>En réponse à une demande de critique : {% get_poster_display review.user %} - {{review.time_created}}</sub>
    <h3>{{review.headline}}</h3>
    <p>{{review.rating}}</p>
    <p>{{review.body}}</p>
    <div class="ticket_inside">
        {% include 'partials/heading_ticket_snippet.html' with ticket=review.ticket %}
        {% include 'partials/ticket_snippet.html' with ticket=review.ticket %}
    </div>
    <div class="buttons">
        {% if review.user == user %}
        <p><a href="{% url 'edit_review' review.id %}"><button type="submit"> Modifier</button></a>
        <a href="{% url 'edit_review' review.id %}"><button type="submit"> Supprimer</button></a></p>
        {% endif %}
    </div>
</div>