{% extends 'base.html' %}
{% block content %}
    <h1>Suivre des utilisateurs</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>
    <h2>Abonnement(s)</h2>
    {% for follow_users in followed %}
    <div class="follow">
        <p> {{ follow_users.followed_user }} - <a href="{% url 'delete_followed' follow_users.id %}"><button>se désabonner</button></a></p>
    </div>
    {% empty %}
    <div class="no_follow">
        <p>Vous ne suivez personne pour l'instant !</p>
    </div>
    {% endfor %}

    <h2>Abonné(s)</h2>
    {% for follow_users in following %}
        <div class="follow">
            <p class="user">{{ follow_users.user }} vous suit.</p>
        </div>
    {% empty %}
        <div class="no_follow">
            <p>Personne ne vous suit pour l'instant !</p>
        </div>
    {% endfor %}
{% endblock content %}