{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>
    <h2>Abonnement</h2>
    {% if followed %}
    {% for follow_users in followed %}
    <div class="follow">
        <p </p>
        <p> {{ follow_users.followed_user }} - <a href=""><button>se désabonner</button></a></p>
    </div>
    {% endfor %}
    {% else %}
        <div>
            <p class="no_follow">Vous ne suivez personne pour l'instant !</p>
        </div>
    {% endif %}

    <h2>Abonnés</h2>
    {% if following %}
    {% for follow_users in following %}
        <div class="follow">
            <p class="user">{{ follow_users.user }} vous suit.</p>
        </div>
    {% endfor %}
    {% else %}
        <div class="no_follow">
            <p>Personne de vous suit pour l'instant !</p>
        </div>
    {% endif %}
{% endblock content %}