{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
    <nav class="boutons_critiques">
        <a href="{% url 'reviews-create_ticket' %}"><button>Demander une critique</button></a>
        <a href="{% url 'reviews-create_review' %}"><button>Créer une critique</button></a>
    </nav>
    <div class="content">
            {% for instance in tickets_and_reviews %}
                <div>{% if instance|model_type == 'Ticket' %}
                    {% include 'partials/heading_ticket_snippet.html' with ticket=instance %}
                    {% include 'partials/ticket_snippet.html' with ticket=instance %}
                    {% include 'partials/option_ticket_snippet.html' with ticket=instance %}
                {% endif %}
                </div>
                {% if instance|model_type == 'Review' %}
                    {% include 'partials/review_snippet.html' with review=instance %}
                {% endif %}
            {% endfor %}
    </div>
{% endblock content %}