{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/base2.css' %}">
        <title>LIT Review</title>
    </head>
    <body>
        <section class="heading">
            <em class="logo"><img src="{% static 'website_images/logo_litRrview.png' %}" alt="logo image"></em>
            <ul class="nav_list">
                <li><a href="{% url 'home' %}">Flux</a></li>
                <li><a href="{% url 'posts' %}">Posts</a></li>
                <li><a href="{% url 'reviews-follow_user' %}">Abonnements</a></li>
                <li><a href="{% url 'logout_user' %}">Se déconnecter</a></li>
            </ul>
        </section>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        <ul class="foot_list">
                <li>LITreview</li>
                <li>FAQ</li>
                <li>Help: <a href="">Contact@litreview</a></li>
        </ul>
    </footer>
</html>