{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <title>LIT Review</title>
    </head>
    <body>
        <h1>LIT Review</h1>
        <section>
            {% if user.is_authenticated %}
                <em>Hello {{request.user}}!</em>
                <a href="{% url 'logout_user' %}">Se déconnecter</a>
            {% endif %}
        </section>
        {% block content %}
        {% endblock content %}
    </body>
</html>