@import "reset.css";

html {
    height: 100%;
    margin: 0;
    border: 0;
    font-family: "DIN Condensed", sans-serif;
}

body {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}


section {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.heading em ul {
    display: flex;
    justify-content: space-between;
}

.heading {
    margin: 3% 0%;
    padding: 3%;
}

em {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgba(54, 114, 174);

}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgba(54, 114, 174);

}

.logo img {
    max-width: 30%;
    margin: 10% 35%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
    margin: 1% 0%;
}

.content {
    background-color: rgba(54, 114, 174, .20);
    margin: 3% 2%;
    text-align: center;
}

/*div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(54, 114, 174);
    background-color: whitesmoke;
    margin: 1% 15%;
}*/

sub {
    color: rgba(54, 114, 174);
    margin: 5%;
}

p {
    text-align: center;
    margin: 1%;

}

.ticket_img img{
    max-width: 30%;
    height: auto;
    margin: 2% 35%;
}

form {
    /*height: 100%;*/
    margin: 0% 2%;
    padding: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(54, 114, 174, .30);
}

.star {
    display: flex;
    align-items: center;
    flex-direction : row;
    color: yellow;
    margin: 2% 35%;
}

.star img {
    max-width: 20%;
    height: auto;
    margin: 2% 1%;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.nav_list li {
    display: inline-block;
    margin: 10px 10px;
}

.ticket {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(54, 114, 174, .20);
    background-color: whitesmoke;
    margin: 1% 15%;
}

.response_review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(54, 114, 174, .20);
    background-color: whitesmoke;
    margin: 1% 15%;
}

.ticket_inside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(54, 114, 174);
    background-color: whitesmoke;
    margin: 1% 15%;
    /*display: flex;*/
    margin: 30px 90px;
    /*border: 4px solid rgba(54, 114, 174, .50);*/
}

.reply_ticket {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(54, 114, 174);
    background-color: whitesmoke;
}

.follow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 1% 5%;
    background-color: rgba(54, 114, 174, .30);
}

.no_follow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 1% 15%;
    background-color: rgba(54, 114, 174, .30);
}

.foot_list li {
    display: inline-block;
    margin: 6% 12%;
    font-weight: bold;
    color: rgba(54, 114, 174, .60);
}

.reviewers_buttons a {
    display: inline-block;
    justify-content: center;
    margin: 0.1% 17.5%;
}

.reviewers_buttons button{
    font-size: 1.2rem;
    font-family: "DIN Condensed", sans-serif;
    background-color: rgba(54, 114, 174, .30);
    border-color: rgba(54, 114, 174);
    border-radius: .25rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    border-color: whitesmoke;
}

.buttons button {
    font-size: 1rem;
    font-family: "DIN Condensed", sans-serif;
}

input, textarea {
    display: block;
    padding: .75rem;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: .25rem;
    mon-width: 600px;
}

label {
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem 0;
}

#id_rating div {
    display: flex;
    flex-direction : row;
}
